/ When creating a new slide we will have instance of slide instead of VideoSlide
/ So we need some magic for extracting correct slidedata always...
ruby:
	slidedata = (@slide.is_a?(VideoSlide) ? @slide.slidedata : VideoSlide::DefaultSlidedata)

= f.fields_for :slidedata do |ff|
	p URL to video. CORS must be accepted if video is hosted on separate server.
	= ff.url_field :url, value: slidedata[:url], label: 'URL to video (http or https)'
